<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.food_roulette.management.ManagementMapper">
    <insert id="setUserThisMonthManagement">
        insert into p_management
        set iuser=#{iuser}
        ,year = year(current_timestamp())
        ,month = month(current_timestamp())
        ,month_limit=#{monthLimit}
        ,balance=#{monthLimit}
    </insert>

    <select id="getUserThisMonthManagement">
        SELECT A.imanagement,A.year,A.month,A.month_limit monthLimit
        ,ifnull(A.month_limit - sum(B.current_menu_price),A.month_limit)balance ,ifnull(sum(B.current_menu_price) ,0)expense
        FROM p_management A
        INNER JOIN p_payment B
        ON A.imanagement=B.imanagement
        WHERE A.iuser=#{iuser} and A.YEAR=YEAR(NOW()) AND A.MONTH=MONTH(NOW())
    </select>

    <select id="getUserManagementList">
        select imanagement, year,month,month_limit monthLimit
        ,balance,expense
        from p_management
        WHERE iuser = #{iuser}   AND (year &lt; year (now()) OR (year = YEAR(CURRENT_DATE) AND month &lt; MONTH(CURRENT_DATE)))
        order by year,month
    </select>

    <select id="monthTotalPayment">
        SELECT imanagement,sum(current_menu_price) total
        FROM p_payment
        WHERE YEAR(payment_at) = YEAR(NOW()) AND MONTH(payment_at) = MONTH(NOW())
        GROUP BY imanagement
    </select>
    
    <update id="updUserMonthManagement">
        update  p_management
        set
            month_limit= month_limit + #{monthLimit}
        ,balance= balance + #{monthLimit}
        where iuser=#{iuser} and year=year(current_timestamp()) and month = month(current_timestamp())
    </update>

    <update id="monthCalculate">
        <foreach collection="list" item="item" separator=";" >
            update p_management
            set balance= balance-#{item.total}
            ,expense=expense+#{item.total}
            where imanagement=#{item.imanagement}
        </foreach>


    </update>


</mapper>