<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.food_roulette.management.ManagementMapper">
    <insert id="setUserThisMonthManagement">
        insert into p_management
        set iuser=#{iuser}
        ,year = year(current_timestamp())
        ,month = month(current_timestamp())
        ,month_limit=#{monthLimit}
        ,balance=#{monthLimit}
    </insert>

    <select id="getUserThisMonthManagement">
        select imanagement, year,month,month_limit monthLimit
                ,balance,expense
        from p_management
        where iuser = #{iuser}
            and year = year(current_timestamp())
            and month = month(current_timestamp())
    </select>

    <select id="getUserManagementList">
        select imanagement, year,month,month_limit monthLimit
        ,balance,expense
        from p_management
        where iuser = #{iuser}
        order by year,month
    </select>
    
    <update id="updUserMonthManagement">
        update  p_management
        set
            month_limit= month_limit + #{monthLimit}
        ,balance= balance + #{monthLimit}
        where iuser=#{iuser} and year=year(current_timestamp()) and month = month(current_timestamp())
    </update>
</mapper>