<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.food_roulette.payment.PaymentMapper">
    <insert id="insUserPayment" useGeneratedKeys="true" keyProperty="ipayment">
        INSERT INTO p_payment
        set imenu=#{imenu}
        ,imanagement=#{imanagement}
    </insert>
    <select id="getUserPaymentList">
        SELECT A.ipayment,DATE(A.payment_at) paymentAt,SUM(A.current_menu_price) total
                ,case
                    when A.review_grade is NULL then '0' ELSE '1'
                end  cmt
        FROM p_payment A
        INNER JOIN (
            SELECT X.imanagement
            FROM p_management X
            INNER JOIN p_user Y
            ON X.iuser=Y.iuser
            WHERE X.iuser=#{iuser} AND X.year=#{year} AND X.month=#{month}
        ) B
        ON A.imanagement = B.imanagement
        GROUP BY DATE(paymentAt)
        ORDER BY A.payment_at
    </select>
    
    <select id="getUserDetailPayment">
        SELECT A.ipayment,C.menu,A.payment_at paymentAt
        ,A.current_menu_price currentMenuPrice,A.review_grade reviewGrade,A.restaurant
        FROM p_payment A
        INNER JOIN (
            SELECT X.imanagement
            FROM p_management X
            INNER JOIN p_user Y
            ON X.iuser=Y.iuser
            WHERE X.iuser=#{iuser}
        ) B
        ON A.imanagement = B.imanagement
        INNER JOIN(
            SELECT icommon_menu,menu
            FROM p_common_menu
            UNION
            SELECT iuser_menu,menu
            FROM p_user_menu A

        )C
        ON A.imenu=C.icommon_menu
        WHERE DATE(A.payment_at)=#{paymentAt}
        ;
    </select>



</mapper>