<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.food_roulette.payment.PaymentMapper">
    <select id="getUserPaymentList">
        SELECT A.ipayment,DATE(A.payment_at) paymentAt,SUM(A.current_menu_price) total
        FROM p_payment A
        INNER JOIN (
        SELECT X.imanagement
        FROM p_management X
        INNER JOIN p_user Y
        ON X.iuser=Y.iuser
        WHERE X.iuser=#{iuser} AND X.year=#{year} AND X.month=#{month}
        ) B
        ON A.imanagement = B.imanagement
        GROUP BY DATE(paymentAt)
    </select>
    
    <select id="getUserDetailPayment">
        SELECT A.ipayment,A.imenu,A.payment_at paymentAt
        ,A.current_menu_price,A.review_grade,A.restaurant
        FROM p_payment A
            INNER JOIN (
            SELECT X.imanagement
            FROM p_management X
            INNER JOIN p_user Y
            ON X.iuser=Y.iuser
            WHERE X.iuser=#{iuser}
        ) B
        ON A.imanagement = B.imanagement
        WHERE DATE(A.payment_at)=#{paymentAt}
        ;
    </select>

</mapper>