<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.food_roulette.user_menu.UserMenuMapper">
    <insert id="insUserMenu" useGeneratedKeys="true" keyProperty="iuserMenu">
        insert into p_user_menu
        set iuser=#{iuser}
        ,menu=#{menu}
    </insert>

    <select id="findUserMenu" resultType="Long">
        select iuser_menu iuserMenu
        from p_user_menu
        where menu=#{menu} and iuser=#{iuser}
    </select>
    <select id="selUserMenu">
        select iuser_menu iuserMenu, menu,iuser,activation
        from p_user_menu
        where iuser_menu=#{iuserMenu}
    </select>
    <select id="getUserMenu">
        select iuser_menu iuserMenu, menu,iuser,activation
        from p_user_menu
        where iuser=#{iuser}
    </select>
    <select id="getActivationUserMenu">
        select iuser_menu iuserMenu, menu,iuser,activation
        from p_user_menu
        where iuser=#{iuser} and activation=0
    </select>
    <update id="updActivation">
        update p_user_menu
        set activation =#{activation}
        where iuser_menu=#{iuserMenu}
    </update>
    <select id="findActivation">
        select activation
        from p_user_menu
        where iuser_menu=#{iuserMenu}
    </select>
    <select id="getMenus">
        SELECT A.iuser_menu iusermenu, A.menu
        FROM (
        SELECT iuser_menu,menu
        FROM p_user_menu
        WHERE iuser=#{iuser} and activation=0
        UNION
        SELECT  icommon_menu, menu
        FROM p_common_menu )A
        GROUP BY A.menu
        order by A.iuser_menu
    </select>
</mapper>